.pricing {
    background: $blue;
}
.pricing-title{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 97px;
    color: $white;
}
.pricing-line {
    height: 2px;
    width: 64px;
    background: $green;
    margin: 0 auto;
    margin-top: 22px;
}
.pricing-par {
    font-size: 14px;
    color: $textLightGray;
    text-align: center;
    padding-top: 27px;
    color: $white;
    padding-bottom: 84px;
}
// ======== boxes ========
.pricing-options {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items:flex-end;
    gap: 40px;
    width: 343px;
    padding-bottom: 108px;
     
    .first-pricing {
        .pricing-box-top {
            border-radius: 5px 5px  0px 0px;
            background: $textDarkGray;
            width: 343px;
          .pricing-title{
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: $white;
            padding-top: 14px;
            padding-bottom: 13px;
            text-align: center;
          }  
          .basic-price {
            text-align: center; 
             .dollar {
                font-size: 30px;
                color: $white;
             }
             .pricing-nr {
              font-size: 100px; 
              color: $white; 
              padding-bottom: 5px;
             }
            }
            .pricing-description {
               text-align: center;
               font-size: 14px;
               color: $white;
               opacity: 0.5;
               padding-bottom: 14px;
              
            }
        } 
        .green {
            background-color: $green;
            height: 6px;
        }

        .list {
            background: $white;
            border-radius: 0px 0px 5px 5px;

            .list-item {
                text-transform: uppercase;
                font-size: 14px;
                color: $textLightGray;
                text-align: center;
                padding-top: 11px;
                padding-bottom: 11px;
            }
        }
    }
    .second-pricing {
        .pricing-box-top {
            border-radius: 5px 5px  0px 0px;
            background: $textDarkGray;
            width: 343px;
          .pricing-title{
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: $white;
            padding-top: 14px;
            padding-bottom: 13px;
            text-align: center;
          }  
          .basic-price {
            text-align: center; 
             .dollar {
                font-size: 30px;
                color: $white;
             }
             .pricing-nr {
              font-size: 100px; 
              color: $white; 
              padding-bottom: 5px;
             }
            }
            .pricing-description {
               text-align: center;
               font-size: 14px;
               color: $white;
               opacity: 0.5;
               padding-bottom: 14px;
              
            }
        } 
        .green {
            background-color: $green;
            height: 6px;
        }

        .list {
            background: $white;
            border-radius: 0px 0px 5px 5px;

            .list-item {
                text-transform: uppercase;
                font-size: 14px;
                color: $textLightGray;
                text-align: center;
                padding-top: 11px;
                padding-bottom: 11px;
            }
        }
    }
    .third-pricing {
        .pricing-box-top {
            border-radius: 5px 5px  0px 0px;
            background: $textDarkGray;
            width: 343px;
          .pricing-title{
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            color: $white;
            padding-top: 14px;
            padding-bottom: 13px;
            text-align: center;
          }  
          .basic-price {
            text-align: center; 
             .dollar {
                font-size: 30px;
                color: $white;
             }
             .pricing-nr {
              font-size: 100px; 
              color: $white; 
              padding-bottom: 5px;
             }
            }
            .pricing-description {
               text-align: center;
               font-size: 14px;
               color: $white;
               opacity: 0.5;
               padding-bottom: 14px;
              
            }
        } 
        .green {
            background-color: $green;
            height: 6px;
        }

        .list {
            background: $white;
            border-radius: 0px 0px 5px 5px;

            .list-item {
                text-transform: uppercase;
                font-size: 14px;
                color: $textLightGray;
                text-align: center;
                padding-top: 11px;
                padding-bottom: 11px;
            }
        }
    }
}
.green-middle {
 background-color: $green;
 text-align: center;
 text-transform: uppercase;
 font-size: 14px;
 color: $white;
 padding-top: 10px;
 padding-bottom: 12px;
}