.reviews-page {
  background: $white;

  .reviews-title {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 67px;
    color: $black;
    font-weight: 600;
  }

  .reviews-line {
    height: 2px;
    width: 64px;
    background: $green;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 58px;
  }
.reviews-section {
    display: flex;
    gap: 119px;
    justify-content: center;
    align-items: flex-end;
    

    .review-left, 
    .review-middle, 
    .review-right {
   
  
      .image {
        background: url(../images/boy.png);
        width: 70px;
        height: 70px;
        border-radius: 100px;
        background-size: cover;
        background-position: center;
        position: relative;
      }
  
      .image::before {
        content: "";
        position: absolute;
        top: -42%;
        right: 23%;
        border: 20px solid transparent;
        border-top-color: $blue;
      }
  
      .comment {
        width: 273px;
        background: $blue;
        color: $white;
        padding: 21px 20px;
        border-radius: 20px 20px 20px 0;
        line-height: 25px;
        font-size: 16px;
        line-height: 22px;
      }
      .personal-details {
        display: flex;
        align-items: center;
        gap: 17px;
        margin-top: 19px;
           .name {
            font-size: 20px;
            font-weight: 400;
            padding-bottom: 4px;
           } 
           .position {
            font-size: 14px;
            color: $textLightGray;
           }
      }
    }
   }
   .dots {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 86px;
    margin-bottom: 57px;
    .dot {
    height: 10px;
    width: 10px;
    border: 1px solid $teracotta;
    border-radius: 50%;
    }
    .dot-full {
    height: 10px;
    width: 10px;
    background:  $teracotta;
    border-radius: 50%;
    }
   }
} 