// colors
$white: #ffffff;
$black: #1c1c1c;
$blue: #6696e2;
$green: #41d395;
$teracotta: #e27866;
$muted-teracotta: #a37169;

$borderLightGray: #00000061;

// text colors
$textDarkGray: #333333;
$textLightGray: #86878b;
$placeholderGray: #d8d8d8;

$formLightGray: #f5f5f5;

//shadow
$shadow: #00000029;

//font-family
$Montserrat: "Montserrat", sans-serif;
