// colors
$white: #FFFFFF;
$black: #1C1C1C;
$blue: #6696E2;
$green: #41D395;
$teracotta: #E27866;
$muted-teracotta: #A37169;
$borderLightGray: #00000061;

// text colors
$textDarkGray: #333333;
$textLightGray: #86878B;
$placeholderGray: #D8D8D8;

$formLightGray: #F5F5F5;


//shadow
$shadow: #00000029;


//font-family
$Montserrat:'Montserrat', sans-serif;